############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

# Mac crap
.DS_Store

#CakePHP stuff
app/Config/core.php
app/Config/database.php

#CakePHP temp files, EXCEPT empty files
app/tmp
!app/tmp/cache/models/empty
!app/tmp/cache/persistent/empty
!app/tmp/cache/views/empty
!app/tmp/logs/empty
!app/tmp/sessions/empty
!app/tmp/tests/empty